* {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
}

#nav-principal {
  padding: 40px; 
  width: 400px;
  height: 100px;
}

.background{
  width: 100%;
  height: 100vh;
  justify-content: center;
  display: inline-block;
  background-image: url("../assets/banner-topo.png");
}

.content {
  width: 100%;
}

.navegacao {
  width: 100%;
}

.nav-item {
  padding: 0.9375rem;
}

nav .logo {
  width: 206.83px;
  height: 52px;
  margin: 15px;
}

nav  .icone {
  float: right ;
  margin: 15px;
  padding: 0;
}

nav .instagram {
  color: #fff;
  padding: 0;
}

nav .facebook {
  color: #fff;
  padding: 0;
}

nav .whatsapp {
  padding: 0;
  color: white;
}

nav .telefone {
  color: #fff;
  margin-left: auto;
  width: 120px;
  font-style: normal;
  font-size: 13px;
}

#menu {
	width: 25px;
	height: 20px;
	margin: 47px 0 0 1250px;
	cursor: pointer;
}

.bar {
	height: 4px;
	width: 100%;
	background-color: #00FFB2;
	display: block;
	border-radius: 4px;
	transition: 0.3s ease;
}

#bar1 {
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.nav li a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
	color: #808080;
	text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
  color: #00FFB2;
}

.nav li {
	list-style: none;
	padding: 30px 0 0 1080px;
}

.nav {
	padding: 0;
	margin: 0 10px;
	transition: 0.3s ease;
	display: none;
}

.menu-bg, #menu-bar {
	top: 0;
	left: 0;
	position: absolute;
}

.menu-bg {
	z-index: 0;
	width: 0;
	height: 0;
  margin: 70px 0 0 980px;
  background: #333333;
	/*background: radial-gradient(circle,#333333,#333333);
	border-radius: 50%;*/
	transition: 0.3s ease;
}

#menu-bar {
	z-index: 2;	
}

.change-bg {
	width: 650px;
	height: 640px;
	/*transform: translate(-60%,-30%);*/
}

.change .bar {
	background-color: white;
}

.change #bar1 {
	transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
	transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
	opacity: 0;
}

.change {
	display: block;
}

.logo-menu {
  margin: 30px 0 0 980px;
}

.x{
  margin: auto;
  margin-right: 25px;
  float: left;
}

.orcamento {
  margin: auto;
  float: right;
}

.titulo {
  width: 769px;
  height: 182px;
  left: 348px;
  top: 514px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #00FFB2;
  }

.subtitulo {
  width: 551px;
  height: 31px;
  margin-top: 105px;
  left: 348px;
  top: 480px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #FFFFFF;
}

.paragrafo {
  width: 244px;
  height: 44px;
  margin-top: 55px;
  left: 348px;
  top: 515px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
  color: #FFFFFF;
}

.solicitar {
  width: 233px;
  height: 29px;
  left: 1081px;
  top: 321px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.flecha {
  padding: 0;
  margin: 0 0 25px 5px;
  float: right;
  color: #fff;
  background: none;
  border: none;
}

.flecha:focus {
  outline: thin dotted;
  outline-offset: 0px;
}

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px;
}

.botao {
  margin: 10px;
  border: none;
  border-color: none;
}

.botao:focus {
  outline: thin dotted;
  outline-offset: 0px;
}

.titulo2 {
  padding: 0 0 0 20px;
  width: 286px;
  height: 70px;
  left: 1048px;
  top: 822px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #1D343E
}

.marujo {
  margin-left: 105px;
  margin-bottom: 5px;
  width: 37.24px;
  height: 38px;
  margin-top: 75px;
  left: 536.88px;
  top: 980px;
}

.texto2 {
  margin-left: 65px;
  width: 148px;
  height: 31px;
  left: 182px;
  top: 1027px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #74A798;
}

.setaVerde {
  margin-left: 105px;
  width: 31.33px;
  height: 46.34px;
  left: 467.32px;
  top: 1076px;
}

.texto {
  margin-left:  155px;
  width: 696px;
  height: 279px;
  left: 869px;
  top: 822px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #696969;
  opacity: 0.8;
}

.equipe {
  width: 100vw;
  height: 50vh;
}

.equipe1 {
  width: 280px;
  height: 314px;
  border-radius: 12px;
}

.equipe2 {
  width: 280px;
  height: 314px;
  left: 664px;
  top: 1188px;
  border-radius: 12px;
}

.equipe3 {
  width: 280px;
  height: 314px;
  left: 976px;
  top: 1188px;
  border-radius: 12px;
}

.equipe4 {
  width: 280px;
  height: 314px;
  left: 1285px;
  top: 1188px;
  border-radius: 12px;
}

.flecha2 {
  width: 14px;
  height: 14px;
  left: 303px;
  top: 1330px;
}

.flecha3 {
  width: 14px;
  height: 14px;
  left: 1620px;
  top: 1344px;
  
}

#servicos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicos {
  margin-left: 15rem;
}

.banerServicos {
  width: 384px;
  height: 367px;
  margin: 26px;
  left: 53px;
  top: 115px;
  background: #fff;
  box-shadow: 0px 30px 80px -20px rgba(73, 73, 73, 0.2);
  border-radius: 8px;
}

.imagenServicos {
  width: 43px;
  height: 43px;
  left: 411px;
  top: 1766px;
  margin: 5px;
}

.titulo3 {
  width: 560px;
  height: 54px;
  left: 32px;
  top: 1613px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 170%;
  color: #333333;
  margin-top: 5px;
}

.subtitulo2 {
  width: 198px;
  height: 29px;
  left: 411px;
  top: 1833px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
}

.paragrafo2 {
  position: absolute;
  width: 268px;
  height: 110px;
  left: 11px;
  top: 78px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #696969;
  margin-top: 50px;
}

#cases {
  margin: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d5d5d5;
}

.cases {
  margin-left: 25rem;
  margin-bottom: 3rem;
}

.titulo4 {
  width: 337px;
  height: 54px;
  left: 792px;
  top: 2651px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 170%;
  color: #333333;
}

.seta {
  margin-left: 95px;
  width: 31.33px;
  height: 46.34px;
  left: 975px;
  top: 2721px;
}

.projetos {
  width: 100vw;
  margin-left: 0;
  margin-top: 15px;
}

.projeto1 {
  width: 563px;
  height: 372px;
  left: 352px;
  top: 2816px;
}

.projeto2 {
  width: 533px;
  height: 372px;
  margin-left: 0;
  left: 362px;
  top: 2816px;
  border-radius: 12px;
}

.subtitulo3 {
  width: 229px;
  height: 29px;
  left: 602px;
  top: 3236px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #333333;
}

.paragrafo3 {
  width: 445px;
  height: 66px;
  left: 402px;
  top: 3281px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #696969;
}

.flecha4 {
  width: 1317px;
  height: 14px;
  left: 303px;
  top: 2983px;
}

.flecha5 {
  width: 1317px;
  height: 14px;
  left: 303px;
  top: 2983px;
}

.botaoSeta:focus {
  outline: thin dotted;
  outline-offset: 0px;
}

.botaoSeta {
  margin: 25px;
  border: none;
}

#blog {
  border-bottom: 1px solid #e1e1e1;
}

.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.blog-titulo {
  display: flex;
  justify-content: space-between;
}

.titulo5 {
  width: 276px;
  height: 54px;
  left: 353px;
  top: 3570px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 170%;
  color: #1D343E;
}


.garrafa {
  margin: 0;
}

.texto1 {
  float: right;
  width: 92px;
  height: 31px;
  left: 1328px;
  top: 2592px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: 0.02em;
  color: #333333;
}

.flecha5 {
  float: right;
  margin-top: 8px;
  width: 14px;
  height: 14px;
  left: 1567px;
  top: 3614px;
}

.blogImagem1 {
  width: 130%;
  left: 18.49%;
  right: 61.61%;
  top: 80.47%;
  bottom: 13.85%;
  background: #333333;
  border-radius: 12px;
}

.blog1 {
  margin-left: 0;
  margin-right: 25px;
}

.blog2 {
  margin-right: 35px;
  margin-left: 35px;
}

.blog3 {
  margin-left: 25px;
}


.blogImagem2 {
  width: 130%;
  left: 40.05%;
  right: 40.05%;
  top: 80.47%;
  bottom: 13.85%;
  background: #333333;
  border-radius: 12px;
}

.blogImagem3 {
  width: 130%;
  left: 61.77%;
  right: 18.33%;
  top: 80.47%;
  bottom: 13.85%;
  background: #333333;
  border-radius: 12px;
}

.subtitulo4 {
  left: 18.39%;
  right: 61.61%;
  top: 86.85%;
  bottom: 12.14%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #333333;
}
.paragrafo4 {
  left: 61.67%;
  right: 18.33%;
  top: 88.28%;
  bottom: 10.67%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #696969;
}

.data {
  width: 208px;
  height: 27px;
  left: 354px;
  top: 4100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #74A798;
}

#solictar-orcamento {
  border: 1px solid red;
  margin: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo2 {
  margin: 75px;
}

.icones {
  float: right;
  margin-top: 75px;
}

.orcamento2 {
  display: flex;
  justify-content: space-between;
  float: right;
  margin: 76px 0 5px 176px;
  padding: 0 75px 0 0;
}

.seta-botao {
  margin: 0 15px 0 1050px;
}

.paragrafo5 {
  padding: 0 90px 0 100px;
  margin-top: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #74A798;
}

.telefone2 {
  float: left;
  margin: 5px 5px 5px 5px;
  margin-right: 52px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #828282;
}

.instagram2 {
  padding: 5px;
  color: #828282;
}

.facebook2 {
  padding: 5px;
  color: #828282;
}

.whatsapp2 {
  padding: 5px;
  color: #828282;
}

.paragrafo6 {
  margin: 0 25px 25px 15px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #333333;
}

#modalTitulo {
  padding-left: 25px;
  width: 233px;
  height: 29px;
  left: 72px;
  top: 75px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #00FFB2;
}

.modal-black {
  background-color: #333333;
  border: none;
}

.modalParagrafo {
  padding-left: 25px;
  width: 294px;
  height: 60px;
  left: 72px;
  top: 128px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.close {
  float: right;
}

.textoInput {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #00FFB2;
}



textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.divInput {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.04em;
  color: #74A798;
  opacity: 0.6;
}

.botaoModal {
  background-color: #333333;
}

.icones2 {
  margin-top: 25px;
}

.telefone3 {
  float: left;
  margin-right: 325px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #74A798;
}

.instagram3 {
  float: right;
  margin-right: 5px;
  color: #74A798;
}

.facebook3 {
  float: right;
  margin-right: 5px;
  color: #74A798;
}

.whatsapp3 {
  float: right;
  margin-right: 5px;
  color: #74A798;
}

.icones-menu {
  margin-top: 5px;
}

.telefone-menu {
  float: left;
  margin: 70px 0 0 980px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #74A798;
}

.instagram-menu {
  float: right;
  margin: 70px 0 0 20px;
  color: #74A798;
}

.facebook-menu {
  float: right;
  margin: 70px 0 0 20px;
  color: #74A798;
}

.whatsapp-menu {
  float: right;
  margin: 70px 0 0 10px;
  color: #74A798;
}

.texto-menu {
  float: left;
  margin: 10px 0 0 980px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #74A798;
}


figcaption {
  float: inline-start;
  width: 134px;
  height: 31px;
  left: 708px;
  top: 1427px;

/* B2 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
/* identical to box height, or 31px */


color: #FFFFFF;
}